.DS_Store
**/.DS_Store
node_modules/
src/worker/pages.generated.js
capacitor/www/
_m0_setup.py
_wtest_
_to_delete/
_m0_2_setup.py
worker.js
_m0_3_setup.py
_m0_3_regblock.js
_m0_31_setup.py
_m0_31_regblock.js
_m0_4_setup.py
_m0_5_setup.py
_m0_6_setup.py
public/
_f1_setup.py
_f2_setup.py
_f3a_setup.py
_f4_setup.py
_f3b_setup.py
_f3c_setup.py
_f5_setup.py
_f6_setup.py
_f7_setup.py
