.DS_Store
**/.DS_Store
node_modules/
src/worker/pages.generated.js
capacitor/www/
_m0_setup.py
_wtest_
_to_delete/
_m0_2_setup.py
worker.js
_m0_3_setup.py
_m0_3_regblock.js
_m0_31_setup.py
_m0_31_regblock.js
_m0_4_setup.py
_m0_5_setup.py
_m0_6_setup.py
public/*
!public/learning/
_f1_setup.py
_f2_setup.py
_f3a_setup.py
_f4_setup.py
_f3b_setup.py
_f3c_setup.py
_f5_setup.py
_f6_setup.py
_f7_setup.py
_lrn_block.js
stage_setup.py
_lrn5_setup.py
bundle.tgz
_fix2.py
_fix3.py
_bag_block.js
_bag_card.txt
bag_setup.py
bagbundle.tgz
_bag_v2.js
bag2_setup.py
bag2bundle.tgz
_bag_graphic.js
_shufopt.js
_video_block.js
fix4_setup.py
fix4bundle.tgz
